
@{
    ViewData["Title"] = "_Footer";
}


<!-- Footer -->
<footer class="border-t border-gray-700 text-gray-400 py-4">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        &copy; 2025 - CapstoneProject -
        <a class="text-blue-400 hover:underline" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
